* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
section article {
  border-radius: 20px;
  height: 80%;
  width: 60%;
}

section aside {
  /* border: solid; */
  border-radius: 20px;
}
section a {
  text-decoration: none;
  display: block;
  border: solid;
  color: black;
  height: 90%;
  width: 90%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section a:hover{
    transform: scale(1.1);
    background-color: navy;
    color: white;
}
