* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  height: 10vh;
  display: flex;
  border-bottom: 1px solid gray;
}

nav article {
  height: 100%;
}
nav article:first-child {
  flex-basis: 10%;
}

nav article:nth-child(2) {
  flex-basis: 50%;
}
nav article:nth-child(3) {
  flex-basis: 40%;
}

nav ul {
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}
nav a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 500;
}

nav a:hover {
  color: blue;
}

nav button{
  padding: 10px 25px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 500;
  background-color: transparent;
  border: none;
}

nav button:hover{
  background-color:red;
  color: white;
}

nav img{
  width: 200px;
}
